// color
$grey: #4a4a4a;

// size
$max-width: 512px;
$section-margin: 192px;

.row {
  display: flex;
  height: 46vw;
  max-height: 256px;
}

.column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 46vw;
}

.black {
  background-color: $grey;
  color: white;
}

.white {
  background-color: white;
  color: $grey;
}

.image {
  height: 100%;
  width: auto;
}
